.header {
    width: 300px;
    height: 50px;
    background-color: mediumturquoise;
}
.container{
    width: 300px;
    height: 200px;
}
.logo{
    width: 200px;
    height: 30px;
}
.header .logo img{
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
}
/* 아래부터는 바로가기 grid */
.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 90px 90px 20px;
}
.container .kshs img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.container .nies img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.container .ebs img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.container .방과후 img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.container .naver img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.container .youtube img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
}
.askmail{
    margin-left: 4px;
    margin-bottom: 4px;
}
.clock{
    text-align: center;
}
.git{
    text-align: right;
    margin-right: 4px;
    margin-bottom: 4px;
}